/* // https://piccalil.li/blog-a-modern-css-reset */

:root {
  --clr-primary-400: hsl(0, 0%, 100%);
  --clr-secondary-600: hsl(219, 30%, 18%);
  --clr-secondary-700: hsl(217, 28%, 15%);
  --clr-secondary-800: hsl(218, 28%, 13%);
  --clr-secondary-900: hsl(216, 53%, 9%);

  --clr-accent-400: hsl(176, 68%, 64%);
  --clr-accent-600: hsl(198, 60%, 50%);

  --clr-error-400: hsl(0, 100%, 63%);

  --ff-secondary: "Raleway", sans-serif;
  --ff-primary: "Open Sans", sans-serif;

  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --fs-600: 2rem;
  --fs-700: 2.4rem;
  --fs-800: 3rem;
  --fs-900: 4rem;

  --fs-body: var(--fs-300);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.flex {
  display: flex;
}

/* General styles */

html {
  font-size: 62.5%;
  font-family: var(--ff-body);
}
@media (max-width: 50rem) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 37.5rem) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-400);
}
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  border: none;
  color: var(--clr-primary-400);
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--clr-accent-400),
    var(--clr-accent-600)
  );
  border-radius: 100vmax;
  transition: all 0.2s;
}
.btn--wide {
  padding: 1.4rem 6.4rem;
}
.btn--narrow {
  padding: 1.4rem 3.6rem;
}

.btn:hover,
.btn:focus-visible {
  background-image: linear-gradient(hsl(187, 61%, 72%), hsl(187, 61%, 72%));
  /* filter: brightness(130%); */
}

.heading-primary {
  margin-bottom: 4.4rem;
}
.heading-secondary {
  line-height: 1.3;
  margin-bottom: 2rem;
}

.bg-secondary-700 {
  background-color: var(--clr-secondary-700);
}

.bg-secondary-800 {
  background-color: var(--clr-secondary-800);
}
.bg-secondary-900 {
  background-color: var(--clr-secondary-900);
}
.bg-secondary-600 {
  background-color: var(--clr-secondary-600);
}
@media (max-width: 50em) {
  .fs-900 {
    font-size: var(--fs-800);
  }

  .fs-800 {
    font-size: var(--fs-700);
  }
}

@media (max-width: 37.5em) {
  .fs-900 {
    font-size: var(--fs-700);
  }
  .fs-800 {
    font-size: var(--fs-600);
  }
}

.container {
  width: min(144rem, 100%);
  margin-inline: auto;
}

/* Header */

.header {
  padding: 6.4rem 4.8rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 85em) {
  .header {
    display: flex;

    padding: 4.8rem;
    justify-content: space-between;
  }
  .hero__img {
    width: 80%;
  }
}
@media (max-width: 56.25em) {
  .header {
    padding: 3rem;
    justify-content: space-between;
  }
}

@media (max-width: 31.25em) {
  .header {
    padding: 1.5rem;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 1.6rem;
}
.logo {
  width: 11.7rem;
}

.nav__link:link,
.nav__link:visited {
  color: var(--clr-primary-400);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.4rem;
  font-weight: var(--fw-regular);
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.nav__link:hover,
.nav__link:focus-visible {
  border-bottom: 1px solid currentColor;
  transform: scale(1.05);
}

/* HERO */

.section-hero {
  padding: 3rem 0 20rem;
  position: relative;
}
.center {
  margin-inline: auto;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.4rem;
}
.center > * {
  z-index: 200;
}
.hero__img {
  margin-bottom: 3.6rem;
}

.hero__text {
  width: 55ch;
  margin-bottom: 3rem;
}

@media (max-width: 50em) {
  .hero__img {
    width: 90%;
  }
}

@media (max-width: 37.5em) {
  .hero__text {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.hero__bg--desktop {
  display: none;
}

.hero__bg--mobile {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* @media (max-width: 23em) {
  .hero__bg--mobile {
    display: none;
  }
} */
@media (min-width: 23.4375em) {
  .hero__bg--mobile {
    display: none;
  }

  .hero__bg--desktop {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/* Features */

.section-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 30%));
  /* on small screens */
  padding-inline: 2.4rem;
  padding-bottom: 12.8rem;
  gap: 8rem;
  justify-content: center;
  justify-items: center;
}

.feature__box {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

.feature__icon {
  height: 6.4rem;
  margin-bottom: 3.2rem;
}
.feature__title {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

@media (max-width: 31.25em) {
  .section-features {
    gap: 15rem;
  }
}

/* About */

.section-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 40%));
  gap: 4.8rem;
  justify-content: center;
  padding: 2.4rem 2.4rem 9.6rem;
  align-items: center;
}

@media (min-width: 37.5em) {
  .break-line {
    display: block;
  }
}
.about__img {
  margin-bottom: 2.4rem;
}

.about__text {
  margin-bottom: 2rem;
}

.btn-hot:link,
.btn-hot:visited {
  color: var(--clr-accent-400);
  text-decoration: none;
  border-bottom: 1px solid var(--clr-accent-400);
  transition: all 0.2s;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.arrow {
  transition: all 0.2s;
}
.btn-hot:hover,
.btn-hot:focus-visible {
  border-bottom: 1px solid var(--clr-primary-400);
  color: var(--clr-primary-400);
}

.btn-hot:hover .arrow,
.btn-hot:focus-visible .arrow,
.arrow:hover {
  filter: sepia(1) saturate(1) hue-rotate(200deg) brightness(100%);
}

/* Testimonials */
.section-testimonials {
  padding: 5.5rem 2.4rem 4.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 25%));
  justify-content: center;
  gap: 4rem;
}

.quotes {
  position: absolute;
  top: -3.5rem;
  left: -1rem;
}
.testimonial {
  padding: 4rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  z-index: 1;
  border-radius: 9px;
  position: relative;
}

.testimonial__user {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}

.user__photo {
  border-radius: 50%;
  width: 3rem;
}

.user__career {
  opacity: 0.8;
  font-size: 0.9rem;
}

@media (max-width: 50em) {
  .testimonial__user {
    font-size: 1.25rem;
  }
  .user__career {
    opacity: 0.8;
    font-size: 1rem;
  }
}

/* CTA  */
.section-cta {
  padding: 2rem 2.4rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: min(90rem, 100%);
  border-radius: 9px;
  text-align: center;
  padding: 4.2rem;
  position: relative;
  transform: translateY(50%);
}
.cta__text {
  width: 80%;
  margin-bottom: 4rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;
  width: 100%;
}
.form__input {
  font-family: inherit;
  border-radius: 100vmax;
  border: none;
  width: 60%;
  padding: 1.4rem 3.6rem;
}

.form__input:invalid {
  color: var(--clr-error-400);
}
.form__input::placeholder {
  opacity: 0.7;
}

@media (max-width: 50em) {
  .cta__text {
    width: 90%;
  }
}
@media (max-width: 40em) {
  .btn--narrow {
    width: 80%;
  }
  .form__input {
    width: 80%;
  }
}

/* Footer */
.footer {
  padding: 17rem 8rem 4.5rem;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: 1fr;
  align-items: start;
  justify-items: center;
  gap: 2rem;
  margin-bottom: 4.8rem;
}

.flex-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.phone {
  margin-bottom: 2rem;
}

.footer__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer__item:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__link:link,
.footer__link:visited {
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-primary-400);
  transform: scale(1);
  transition: all 0.2s;
}

.footer__item:hover,
.footer__item:focus-visible {
  font-weight: 700;
}
.footer__contact {
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-primary-400);
}

.social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  align-self: center;
}
.social__link:link,
.social__link:visited {
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-primary-400);
  transition: color 0.2s;
}
.social__link:hover,
.social__link:focus-visible {
  color: var(--clr-accent-400);
}
.social__icon {
  outline: 1px solid currentColor;
  border-radius: 50%;
  outline-offset: 0.5rem;
}

.logo__footer {
  margin-bottom: 4.8rem;
}

.footer__contact--hot {
  color: var(--clr-accent-400);
}

@media (max-width: 60em) {
  .footer {
    padding-top: 20rem;
    font-size: 1.6rem;
  }

  .footer__grid {
    align-items: center;
  }
}
@media (max-width: 40em) {
  .footer {
    padding-top: 25rem;
    font-size: 1.6rem;
  }

  .footer__grid {
    align-items: start;
  }
}
@media (max-width: 33.75em) {
  .location {
    width: 70%;
  }
}
/*
---  TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

---  WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/ ;
